name: CI Build

on: 
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Cache
        uses: actions/cache@v4
        with:
          path: |
             build
             .gradle
          key: gradle-global-cache
          restore-keys: |
            gradle-global-cache

      - name: Build
        run: ./gradlew :app:assembleRelease --daemon --parallel 


      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: app/build/outputs/apk/release/app-release.apk
          retention-days: 7